name: Run tests and build Docker image

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version: 21.x
        cache: 'npm'
        cache-dependency-path: package-lock.json
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test

  build:

    needs: test

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: docker/setup-buildx-action@v3.12.0
    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: docker/build-push-action@v6.18.0
      with:
        push: ${{ github.event_name == 'push' }}
        tags: ghcr.io/keneanung/crowdmap-crowdsource-service:latest
        target: prod
        
